*.o
*.so
*.dylib
*~
*.swp
*.pyc
/server/svrd
/lib/libsvr.so.0
/.cproject
/.project
/.settings
/test/check
/python/build
/util/svrwatch
/util/svrctl
# The following is taken from https://github.com/github/gitignore/blob/master/CMake.gitignore,
# which is in the public domain:
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
!cmake_uninstall.cmake.in